<div id="loader"></div>

<div id="myDiv" class="animate-bottom">


    <div class="navbar-fixed">

        <nav class="nav-wrapper indigo z-depth-1 " id="nav">

            <a href="#" data-target="slide-out" class="sidenav-trigger"><i
                    class="material-icons large white-text">menu</i></a>


            <!--  <a id="logoindex" href="../public" class="brand-logo "><img width="90" height="90" src="/img/logo.png"/></a> -->

            <a id="logoindexname" class="brand-logo white-text "> {{namesys}} <label id="subtit"> subtitle </label></a>


            <ul id="nav-mobil" class="right">
                <li><a title="Galeria" class="btn btn-floating purple modal-trigger " href="#galeriacontainner"><i
                        class="material-icons large white-text">image</i></a>

                <li><a title="Suporte" class="btn btn-floating dropdown-trigger" data-target="suportecontainer"><i
                        class="material-icons large white-text">settings</i></a>


                </li>
            </ul>


        </nav>
    </div>


    <ul id="slide-out" class="sidenav z-depth-0 sidenav-fixed   ">

        <li>
            <nav class="nav-wrapper indigo z-depth-1"><a class="brand-logo center"> Deshboard</a></nav>
        </li>

        <li>


            <ul style="padding: 30px">
                <li>
                    <label id="emaillnav" class="black-text ">jdandturk@gmail.com </label>
                </li>
                <li>
                    <label id="emaillnav" class="indigo-text">Administrador</label>
                </li>
            </ul>


        </li>

        <li><a class="tabss waves-effect waves-green  " title="Clientes" href="#8">Clientes <i
                class="material-icons green-text">person</i></a></li>
        <li><a class="tabss waves-effect waves-orange  " title="Pedidos" href="#1">Pedidos <i
                class="material-icons orange-text">store</i></a></li>
        <li><a class="tabss waves-effect waves-teal " title="Produtos" href="#2">Produtos <i
                class="material-icons teal-text">archive</i></a></li>
        <li><a class="tabss waves-effect waves-red" title="Categorias" href="#3">Categorias <i
                class="material-icons red-text">bookmark</i></a></li>
     <!--   <li><a class="tabss waves-effect waves-green" title="Faturas" href="#9">Relatório<i
                class="material-icons green-text">attachment</i></a></li> -->
        <li><a class="tabss waves-effect waves-yellow" title="Chat" href="#4">Chat <i
                class="material-icons yellow-text">message</i></a>
        </li>
        <li><a class="tabss waves-effect waves-purple" title="Orçamento" href="#5">Notificação<i
                class="material-icons purple-text">smartphone</i></a></li>


        <li><a class="verde" title="Slider" href="#10">Slider <i class="material-icons blue-text ">collections</i></a></li>

        <li><a class="verde" title="Orçamento" href="#6">Configurações <i class="material-icons">memory</i></a></li>

        <li><a class="tabss waves-effect waves-red" title="Sair" href="#7">Sair<i
                class="material-icons red-text">home</i></a></li>


    </ul>


    <div style="background-color: #e9e9e9" id="containner"></div>


  <!--  <footer class="page-footer purple white-text footerr">


        <div class="footer-copyright ">
            <div class="container ">

                <a class="white-text text-lighten-4 right" href="#!">© Fábrica Android 2019</a>
            </div>
        </div>


    </footer> -->


    <div id="fabchat" class="fixed-action-btn ">
        <button  class="btn indigo btn-floating left pulse waves-effect "><i
                class="material-icons white-text ">message</i>
        </button>
    </div>


    <div style='border-radius: 5px;padding: 10px;' id="suportecontainer" class='dropdown-content'><p class="black-text">
        gfdgdgfdgg gdfg</p></div>


    <div id="galeriacontainner" class="modal  modalcuston">

        <div style="text-align: left" class="modal-footer indigo ">
            <h5 class="white-text">Galeria</h5>
        </div>

        <div class="modal-content">


            <div class="row">


                <div class="col s12 m3">

                    <label>Upload</label>

                    <div class="row">

                        <form id="uploadForm" type="jpg" enctype="multipart/form-data">
                            <div class="file-field input-field col s12">
                                <div class="btn card-panel left green">
                                    <i class="material-icons">search</i>
                                    <input required name="imagesc" type="file">
                                </div>
                                <div class="file-path-wrapper ">
                                    <input class="file-path validate" type="text"
                                           placeholder="Imagens">
                                </div>

                            </div>

                            <button type="submit" id="enbfoto"
                                    class=" waves-effect blue btn col s12 "><i
                                    class="material-icons">cloud_upload</i></button>

                        </form>

                    </div>

                    <div class="row">

                        <label>Nome da image selecionada</label>

                        <div class="input-field ">
                            <input id="nomeimage" type="text"
                            />
                            <label id="labelnameimg" for="nomeimage">Nome da Image </label>
                        </div>
                    </div>
                </div>


                <div class="col s12 m9">

                    <label>Lista de Images</label>

                    <div id="listagale" style="max-height: 280px;overflow-y: scroll" class="col s12 m12">


                    </div>


                </div>


            </div>
        </div>

        <div class="modal-footer  ">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">fechar</a>

        </div>

    </div>

</div>

<script src="./libs/autogrow.js"></script>
<script src="./js/admin.js"></script>



