
<div id="loader"></div>

<div style="display:none;" id="myDiv" class="container animate-bottom">
    <div class="row">

        <br>
        <br>
        <br>
        <br>
        <div class="col m6 s12 center-align  card-panel ">
            <h4>{{nomeempresa}}</h4>
            <div class="account-wall">
                <form id="formlogin">


                    <div class="row">
                        <div class="input-field col s12 m11">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12 m11">
                            <i class="material-icons prefix">https</i>
                            <input id="senha" type="password" class="validate">
                            <label for="senha">Password</label>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col m10 s10 offset-m1 offset-s1">
                            <input class="btn indigo white-text col m12 s12 m12  " type="submit"  value="Entrar"/>
                        </div>

                    </div>


                </form>

                <div class="row">

                    <a href="#!" class="red-text right-align">Recuperar Senha</a>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="./js/login.js"></script>