<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Cache-Control" content="no-store" />


  <title>{{title}}</title>
    <link rel="manifest" href="./manifest.json">
    <link href="/libs/materialize/css/iconMaterial.css" rel="stylesheet">
    <link href="/libs/materialize/css/materialize.css" rel="stylesheet">
    <link href="/libs/datatables/datatables.css" rel="stylesheet">
    <link href="/libs/materialize/css/dataTables.materialize.css" rel="stylesheet">

    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/animation.css" rel="stylesheet">
    <link href="/css/custoninput.css" rel="stylesheet">
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <script src="/libs/CallBack.js"></script>




    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-auth.js"></script>
    <script src="/js/serviceIntent.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="/libs/materialize/js/materialize.js"></script>
    <script src="/libs/datatables/datatables.js"></script>
    <script src="/libs/materialize/js/dataTables.materialize.js"></script>
    <script src="/libs/ArrayList.js"></script>
    <script src="/libs/jqueryForm.js"></script>
    <script src="/rx/dist/rx.all.js"></script>
    <script src="/rx-dom/dist/rx.dom.js"></script>
    <script src="/js/ws.js"></script>

  {{{block "stylesheets"}}}


</head>

<body>



  {{{body}}}








 <!-- <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script> -->
  <script src="/libs/numeral.js"></script>
  <script src="/libs/pt-br.js"></script>

  {{{block "scripts"}}}
</body>




</html>
