header, body {
    padding-left: 300px;
}

#logoindexname {

    padding-left: 25px;

}
#subtit{
    color: white;
}

label{
    color: #000;
}

.tabss{

}

.modalcuston{
    max-height: 85%;
    width: 90%;
}

#containner {
    height: 100%;

}

/* BUTTON */

.btn-custon {

    border-radius: 20px;

}


#nav-mobil{

 padding-right: 320px;
}


.sidenavcuston{
    width: 100% ;
}

/* LI */

.li {
    float: left;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}


/* TABELAS */

td{
    font-size: 10pt;
}

table.dataTable tbody tr:hover{

    background-color: #ddd;
    color: white;
    border-radius: 20px;

}

table.dataTable tbody tr{



}


table.dataTable thead tr{

    color: indigo;

}

table.dataTable tbody tr:hover,table.dataTable tbody tr td:hover{

    color: indigo;

}

h6{
    color: #424242;
}

/* FOOTER */

.footerr {
    position:fixed;
    right:0px;
    bottom:0px;
    width:100%;


}

/* CHAT */

.scrollhide::-webkit-scrollbar {

    display: none;

}

.textoback{

    background-color: whitesmoke;
    border-radius: 20px;
    border-width: 5px ;
    border-color: whitesmoke;


}

.textoback:focus, input:focus{
    outline: none;
}


@media only screen and (max-width: 992px) {

    #nav-mobil{

        padding-right: 0;
    }

    .client{
        text-align: left;
    }


    header, body {
        padding-left: 0;
    }

    #logoindexname {

        padding-left: 0;

    }

    #propiconta {

        padding-left: 25px;
    }

    #propiprodu {

        padding-left: 25px;
    }
}