

.switch label input[type=checkbox]:checked + .lever{


    background-color: #4b008280
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: indigo;
}



.input-field input[type=checkbox]:checked + .lever{
    background-color: #4b008280
}

.input-field input[type=checkbox]:checked + .lever:after {
    background-color: indigo;
}

/* INPUT-FIELD */

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: indigo !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid indigo  !important;
    box-shadow: 0 1px 0 0 indigo  !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: indigo;
}


/*email*/
/* label focus color */
.input-field input[type=email]:focus + label {
    color: indigo !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid indigo  !important;
    box-shadow: 0 1px 0 0 indigo  !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid indigo  !important;
    box-shadow: 0 1px 0 0 indigo  !important;
}

.input-field input[type=password]:focus + label {
    color: indigo !important;
}



[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid indigo;
    border-bottom: 2px solid indigo;
}


[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid indigo;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: indigo;
}


/* URL */
.input-field input[type=url]:focus + label {
    color: indigo !important;
}
/* label underline focus color */
.input-field input[type=url]:focus {
    border-bottom: 1px solid indigo  !important;
    box-shadow: 0 1px 0 0 indigo  !important;
}

/* valid color */
.input-field input[type=url].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=url].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}




/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}

/*email*/
/* label focus color */
.materialize-textarea:focus + label {
    color: indigo !important;
}
/* label underline focus color */
.materialize-textarea:focus {
    border-bottom: 1px solid indigo  !important;
    box-shadow: 0 1px 0 0 indigo  !important;
}


/* valid color */
.materialize-textarea.valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.materialize-textarea.invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}