<div class="row  ">
    <!-- <div class="row"></div>
     <div class="col s6 ">
         <div class="card">
             <div class="card-image">
                 <a id="click-cal-cate"
                    class="   btn-floating halfway-fab waves-effect waves-light indigo"><i
                         class="material-icons ">skip_previous</i></a>

             </div> -->

    <div class="col s12 m12">

        <div class="card-panel  ">

            <p class="card-title">Todos as Categorias </p>

            <a href="#categoriaconteiner" title="Novo produto" class="btn indigo modal-trigger waves-effect active ">Nova
                Categoria</a>

            <table id="tablecate" class=" highlight responsive-table   ">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cadastro</th>
                    <th>Ativado</th>
                    <th>Ação</th>

                </tr>
                </thead>

                <tbody id="tab-body-cate">


                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="deletecate" class='dropdown-content'>


    <ul>
        <li><a id="catesim">Sim</a></li>
        <li><a id="catenao">Não</a></li>
    </ul>

</div>


<script src="./js/windowadminjs/categoria.js"></script>


<div id="categoriaconteiner" class="modal">

    <div style="text-align: left" class="modal-footer indigo ">
        <h5 class="white-text"> Nova Categoria </h5>
    </div>

    <div class="modal-content">

        <div class="row">

            <div class="col s12 m6 offset-m3">

                <div class="input-field ">
                    <input id="newcate" type="text"
                    />
                    <label for="newcate">Nome da Categoria</label>
                </div>

            </div>


        </div>


    </div>

    <div class="modal-footer  ">
        <a id="cadasnewcate" href="#!"
           class="modal-action  waves-effect waves-green  btn-flat green-text ">Cadastrar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">fechar</a>

    </div>

</div>


