<nav class="nav-wrapper indigo">


    <ul class="left ">

        <li><a title="Contatos" href="#"
               class="abric"> <img class="circle" height="30" width="30"
                                   src="/img/avatar.jpg" alt=""/> Antônio Johnathn G Boto </a>
        </li>


    </ul>
</nav>

<div class="row">

    <div class="row">

        <div class="col s12 m4 ">

            <div class="card-panel">

            <ul id="salasclient" style=" overflow-y: scroll; height: 790px; " class="collection scrollhide  ">


            </ul>
        </div>
        </div>


        <div class="col s12 m8 ">

            <div class="card-panel">

                <div id="scrollchat" class="row scrollhide " style=" background-color: whitesmoke; height: 700px;overflow-y: scroll ;overflow-x: hidden ; ">


                    <ul id="chattela">


                    </ul>


                </div>

                <div class="row">


                    <form>

                        <div class="row ">

                            <div class="col s12 m12">

                                <div class="col s10 m9 ">


                                    <textarea placeholder="Entre com texto..."  id="men" class=" col s12 m12 textoback " type="text"></textarea>


                                </div>

                                <div class="col s1 m2  ">

                                    <button id="buttonsend"
                                            class="btn btn-floating blue "><i
                                            class="material-icons white-text">send</i></button>

                                </div>


                            </div>


                        </div>

                    </form>

                </div>

            </div>



        </div>

    </div>


</div>


<script src="./js/windowadminjs/chat.js"></script>


