<div class="row ">


    <div class="col s12 m12">

        <div class="row ">

            <div class="col s12 m6">

                <div class="card horizontal">
                    <div class="card-image">
                        <div  class="blue"><i style="margin: 30px;" class="material-icons white-text small">person</i></div>
                    </div>

                        <div class="card-content">
                            <p id="pessoascadas" class="blue-text" ></p>
                        </div>


                </div>
            </div>


            <div class="col s12 m6">

                <div class="card horizontal">
                    <div class="card-image">
                        <div  class="indigo"><i style="margin: 30px;" class="material-icons white-text small">phone_android </i></div>
                    </div>

                        <div class="card-content">
                            <p id="dispositivos" class="indigo-text"> </p>
                        </div>

                </div>
            </div>





        </div>
    </div>


    <div class="col s12 m12 ">




            <div class="card-panel ">

                <div style="padding: 10px" class="row">


                    <h5 class="indigo-text"> Nova mensagem </h5>


                    <h6 class=""> Dados de notificação</h6>


                    <form>

                        <div class="input-field ">
                            <input name="titolo" id="ntitle" type="text"
                            />
                            <label for="ntitle">Titulo da Mensagem</label>
                        </div>


                        <div class="input-field ">
                        <textarea name="sumario" id="ntext"
                                  class="materialize-textarea"></textarea>
                            <label for="ntext">Descrisão da Mensagem</label>

                        </div>


                        <h6 class=""> Tipo de Notificação</h6>


                        <p>
                            <label>
                                <input value="p" class="with-gap checkbox-indigo" name="group3" type="radio" checked/>
                                <span>Promoções ou Produtos novos</span>
                            </label>
                        </p>

                        <p>
                            <label>
                                <input value="a" class="with-gap checkbox-indigo" name="group3" type="radio"/>
                                <span>Avisos</span>
                            </label>
                        </p>

                        <p>
                        <label>
                            <input value="c" class="with-gap checkbox-indigo" name="group3" type="radio"/>
                            <span>Chat</span>
                        </label>
                        </p>

                        <h6 class="">  Segmentação </h6>

                        <div class="row">

                            <div style="padding-top: 30px;"  class="col s12 m3">

                                <label>
                                    <input id="istoken" type="checkbox"  />
                                    <span>Unico segmento</span>
                                </label>

                            </div>

                            <div class="col s12 m4">

                                <div class="input-field  ">
                                    <input disabled pattern="^\d{8}$" name="tit" id="utoken" type="number" class="validate"  step="1" min="0"  required/>
                                    <span class="helper-text" data-error="Numero inválido" data-success="Numero válido"></span>
                                    <label for="utoken">Identificação do cliente</label>
                                </div>

                            </div>

                        </div>







                        <h6 class=""> Topicos</h6>

                        <div class="row">

                            <div class="col s12 m3">

                            <label>
                                <input value="t0" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                <span>Topicos 0</span>
                            </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t1" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 1 </span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t2" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 2</span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t3" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 3</span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t4" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 4</span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t5" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 5</span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t6" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 6</span>
                                </label>

                            </div>

                            <div class="col s12 m3">

                                <label>
                                    <input value="t7" class="with-gap checkbox-indigo" name="group4" type="radio" checked/>
                                    <span>Topicos 7</span>
                                </label>

                            </div>


                        </div>


                        <h6 class=""> Midia da notificação</h6>


                        <p>
                            <label>
                                <input id="islink" type="checkbox"/>
                                <span>Possuir link?</span>
                            </label>
                        </p>


                        <div class="input-field  ">
                            <input disabled name="tit" id="urllink" type="url" class="validate"/>
                            <span class="helper-text" data-error="url inválido" data-success="url válido">Helper text</span>


                            <label for="urllink">Url link</label>
                        </div>


                        <p>
                            <label>
                                <input id="isfoto" type="checkbox"/>
                                <span>Possuir Imagens ? </span>
                            </label>
                        </p>


                        <div class="input-field  ">
                            <input disabled name="titolo" id="urlimgnoti" type="text" />


                            <label for="urlimgnoti">Nome da Imagem</label>
                        </div>



                    </form>

                    <button  id="sendnoti" class="btn indigo waves-effect btn-custon ">Enviar</button>



                </div>




        </div>

    </div>


</div>

<div id="alunounico" class="modal dialogback">

    <div class="modal-content">


        <h5>Notificação Única</h5>


        <div class="input-field  ">
            <input name="titolo" id="alunounicovalue" type="number"
            />
            <label for="alunounicovalue">Matricula Aluno</label>
        </div>

    </div>

    <div class="modal-footer">
        <a href="#!" id="alunounico-click" class="modal-action  waves-effect waves-green btn-flat red-text">OK!</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">NO!</a>

    </div>


</div>


<div id="editeCuDe" class="modal dialogback">

    <div class="modal-content">
        <h5>Opções</h5>
        <h6>Desejar enviar notificações para os dispositivos</h6>
    </div>

    <div class="modal-footer">
        <a href="#!" id="descri-add-clik" class="modal-action  waves-effect waves-green btn-flat red-text">OK!</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat blue-text">NO!</a>

    </div>


</div>





<script src="./js/windowadminjs/notification.js"></script>




