<div class="row">

    <div class="row">

        <div class="col s12 m12 "  style="height: auto">

            <div class="card-panel">

            <h5 class="indigo-text" style="margin-left: 10px"> Mapa dos Pedidos</h5>

            <div id='map' style='width: auto; height: 300px; margin-bottom: 10px'></div>

        </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col s12 m12 ">


        <div class=" card-panel ">

        <div class="row">

            <h5 class="indigo-text" style="margin-left: 10px"> Lista de Pedidos</h5>

        </div>


        <div class="row">

            <div class="col s12 m6 ">

                <label > Lista de camadas </label>


                <ul style="overflow-y: scroll; height: 730px" class="collection ">


                    <li class="collection-item avatar waves-effect   ">

                        <img style="margin-top: 5px" src="../img/avatar.jpg" alt="" class="circle">
                        <label>Antonio Johnathan Gladino Boto</label>
                        <label>12/03/2017 - 16:45</label>
                        <p><img src="../img/iconsmap/icons1.png" height="30px" width="30px"></p>

                    </li>




                </ul>


            </div>

            <div class="col s12 m6 ">

                <label >Propiedades do pedido</label>


                <div id="propiconta" class="row">
                    <p>Nome do cliente</p>

                    <label id="nome-cap"> Antonio Johnathan Gladino Boto </label>

                    <p>Data do pedido</p>

                    <label id="nn-cap">12/03/2017</label>

                    <p>Hora do pedido</p>

                    <label id="data-cap"> 16:45</label>

                    <p>Metodo</p>

                    <label id="metodo">Dinheiro vivo</label>

                    <p>Envio</p>

                    <label id="envio"> Agendado</label>


                </div>

                <div id="propiprodu" class="row">

                    <p>Lista de produtos</p>

                    <ul style="overflow-y: scroll; height: 200px" id="listpro" class="collection">

                    </ul>


                    <h5>Total da fatura</h5>

                    <h4 id="fatura" class="green-text">R$1205.99</h4>

                    <a href="#!" title="finalizar" id="finalizarpedi" class="btn green waves-effect ">
                        Finalizar
                    </a>
                    <a href="#!" title="Enviar mensagem" id="envimensapedi" class="btn orange waves-effect ">
                        Enviar msg
                    </a>
                    <a href="#!" title="Recusar" id="recusarpedi" class="btn red waves-effect ">
                        Recusar
                    </a>
                </div>


            </div>

        </div>


    </div>
    </div>


</div>

<script src="./js/windowadminjs/pedidos.js"></script>