<div class="row">


    <div class="col s12 m12 ">


        <div class="card-panel">

            <h5 class="indigo-text">Lista de clientes</h5>

            <table id="pessoastable" class=" responsive-table ">

                <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Ação</th>

                </tr>
                </thead>

                <tbody>

                </tbody>

            </table>

        </div>

        <ul id='exclurpostdropdown' class='dropdown-content'>
            <li><a id="clickexclurpost" href="#!">Sim</a></li>
            <li><a href="#!">Não</a></li>
        </ul>


    </div>
</div>

<div class="row">

    <div id="detalhesclient" class="col s12 m12   ">


        <div class="card-panel">


            <h5 class="indigo-text">Detalhes do cliente</h5>
            <div class="row ">

                <div class="col s12 m5 offset-m1">
                    <h6>Nome do cliente</h6>

                    <label id="nomecli">  </label>

                    <h6>Endereço</h6>

                    <label id="enderecocli"></label>

                    <h6>N:</h6>

                    <label id="numerocli"> </label>


                </div>

                <div class="col s12 m5 ">

                    <h6>Cidade</h6>

                    <label id="cidadecli"></label>

                    <h6>Telefone</h6>

                    <label id="telefonecli"> </label>

                    <h6>E-mail</h6>

                    <label id="emailcli"></label>


                </div>


            </div>


        </div>

    </div>

</div>


<div id="deletecli" class='modal'>


    <div class="modal-content">
        <h4>Atenção</h4>


        <p>Deletar este cliente ?</p>


    </div>
    <div class="modal-footer">
        <a href="#!" id="clisim" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        <a href="#!" id="clinao" class="modal-close waves-effect waves-red btn-flat">Não</a>
    </div>


</div>

<script src="./js/windowadminjs/pessoas.js"></script>