<div class="row">


    <div class="col s12 m12 ">


        <div class="card-panel  ">

            <h5 class="indigo-text">Lista de produtos</h5>


            <a data-target="novopro" id="slidernewporo" title="Novo produto" class="btn indigo   sidenav-trigger ">Novo
                Produto</a>


            <table id="example" class="highlight responsive-table ">

                <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                    <th>Ação</th>
                </tr>
                </thead>

                <tbody>

                </tbody>

            </table>

        </div>

        <ul id='exclurpostdropdown' class='dropdown-content'>
            <li><a id="clickexclurpost" href="#!">Sim</a></li>
            <li><a href="#!">Não</a></li>
        </ul>


    </div>
</div>

<div class="row">


    <div class="col s12 m12 ">


        <div id="detalhesprodu" class="card-panel  ">

            <h5 class="indigo-text">Detalhes de produto</h5>
            <div class="row ">


                <div class="col s12 m5 offset-m1 ">


                    <h6>Nome do produto</h6>

                    <label id="nome-cap"> </label>


                    <h6>Descrição</h6>

                    <label id="descri"> </label>


                    <h6>Preço de compra</h6>

                    <label class="green-text" id="precocompra"> </label>

                    <h6>Preço de venda</h6>

                    <label class="green-text" id="precovenda"> </label>

                    <h6>Quantidade</h6>

                    <label id="quantidade"> </label>


                </div>

                <div class="col s12 m6 ">

                    <h6>Tipo de medida</h6>

                    <label id="tmedida"> </label>


                    <h6>Valor de medida</h6>

                    <label id="vamedida"> </label>


                    <h6>Abilitar promoção</h6>

                    <label id="abilite"> </label>


                    <h6>Valor de promoção</h6>

                    <label id="valorpro"> </label>

                    <h6>Ocutar produto</h6>

                    <label id="ocutarprodu"> </label>

                </div>


            </div>


            <div class="row">

                <div class="col s10 m10 offset-s1 offset-m1">

                    <h6 class="center-align ">Image de produto</h6>

                    <div id="imagess" class="carousel carousel-slider">

                        <a class="carousel-item"><img></a>

                        <div class="carousel-indicators"></div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


<div id="deleteprodu" class='modal'>


    <div class="modal-content">
        <h4>Atenção</h4>


        <p>Deletar este produto ?</p>


    </div>
    <div class="modal-footer">
        <a href="#!" id="prosim" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        <a href="#!" id="pronao" class="modal-close waves-effect waves-red btn-flat">Não</a>
    </div>


</div>


<div id="novopro" class="sidenav sidenavcuston">


    <form id="formprodu">


        <div class="row card z-depth-0">

            <h5 id="titlesidebarprodu" class="indigo-text" style="padding-left: 20px;padding-top: 20px"> Novo
                Produto </h5>
            <label style="padding-left: 20px" id="produtoname">Novo Produto</label><label style="padding-left: 20px">Serial:</label><label
                id="serial"></label>


            <a title="Galeria" class="btn  btn-floating halfway-fab purple modal-trigger " href="#galeriacontainner"><i
                    class="material-icons large white-text">image</i></a>

        </div>


        <div class="row card z-depth-0">


            <div class="col s12 m6">

                <div class="row">

                    <div class="col s12 m10 offset-m1 ">

                        <h6 class="center-align" style="margin: 25px"> Dados básicos</h6>

                        <div class="row card-panel">

                            <div class="input-field  ">
                                <input name="titolo" id="nomep" type="text"
                                />
                                <label id="nomepl" for="nomep">Nome do produto</label>
                            </div>

                            <div class="input-field  ">
                                <textarea class="materialize-textarea" id="descricao" type="text"></textarea>
                                <label id="descricaol" for="descricao">Descrição do produto</label>
                            </div>

                            <div class="input-field  ">
                                <input name="titolo" id="precoc" type="number"
                                />
                                <label id="precocl" for="precoc">Preço de custo</label>
                            </div>

                            <div class="input-field  ">
                                <input name="titolo" id="precov" type="number"
                                />
                                <label id="precovl" for="precov">preço de venda</label>
                            </div>

                            <div class="input-field  ">
                                <label for="cate"></label>
                                <select id="cate">
                                    <option value="00" class="disabled selected">Escolha a categoria</option>

                                </select>

                            </div>


                            <p><label>Estoque</label></p>

                            <div class="input-field  ">
                                <label for="medida"></label>
                                <select id="medida">
                                    <option value="00" class="disabled selected">Sistema de medidas</option>
                                    <option value="1" class="disabled">Kilo(Kg)</option>
                                    <option value="2" class="disabled">Grama(g)</option>
                                    <option value="3" class="disabled">Litros(L)</option>
                                    <option value="4" class="disabled">Mililitros(ml)</option>
                                    <option value="5" class="disabled">Metro(m)</option>
                                    <option value="6" class="disabled">Centimetro(cm)</option>

                                </select>

                            </div>

                            <div class="input-field  ">
                                <input name="titolo" id="vmedida" type="number"
                                />
                                <label id="vmedidal" for="vmedida">Valor de medida</label>
                            </div>

                            <div class="input-field  ">
                                <input name="titolo" id="quantida" type="number"
                                />
                                <label id="quantidal" for="quantida">Quantidade no estoque</label>
                            </div>
                        </div>


                    </div>


                </div>

                <div class="row">

                    <div class=" col s12 m10 offset-m1">

                        <h6 class="center-align" style="margin: 25px"> Extras</h6>

                        <div class="row card-panel">

                            <div class="row">

                                <p><label>Ocutar produto</label></p>

                                <div class="col s12 m12">


                                    <div style="margin-left: 10px" class='switch'><label> Desativar <input
                                            class='switchcate' id="ocuta" type='checkbox'/>
                                        <span class='lever'></span> Ativar </label></div>
                                </div>
                            </div>

                            <div class="row">

                                <p><label>Abilitar Promoção</label></p>

                                <div class="col s12 m12">
                                    <div style="padding-top: 30px" class="col s12 m7">
                                        <div class='switch'><label> Desativar <input class='switchcate'
                                                                                     id="abilitarpromo"
                                                                                     type='checkbox'/>
                                            <span
                                                    class='lever'></span> Ativar </label></div>
                                    </div>
                                    <div class="col s12 m5">

                                        <div class="input-field  ">
                                            <input id="porcen" type="number"
                                            />
                                            <label id="porcenl" for="porcen">Valor em %</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
            </div>

            <div class="col s12 m4 offset-m1 ">

                <h6 class="center-align" style="margin: 25px"> Imagens</h6>

                <div class="row card-panel">

                    <p><label>Imagem principal</label></p>

                    <div style="background-color: #eeeeee" class="col s12 m12 ">
                        <img id="f1" src="">
                    </div>
                    <div class="col s12 m12">
                        <div class="input-field  ">
                            <input id="imgpri" type="text"
                            />
                            <label id="imgpril" for="imgpri">Nome</label>
                        </div>

                    </div>


                </div>

                <div class="row card-panel">

                    <p><label>Imagem secundaria 1</label></p>

                    <div style="background-color: #eeeeee" class="col s12 m12">
                        <img id="f2" src="">
                    </div>
                    <div class="col s12 m12">
                        <div class="input-field  ">
                            <input id="imgpri1" type="text"
                            />
                            <label id="imgpri1l" for="imgpri1">Nome</label>
                        </div>

                    </div>


                </div>

                <div class="row card-panel">

                    <p><label>Imagem secundaria 2</label></p>

                    <div style="background-color: #eeeeee" class="col s12 m12">
                        <img id="f3" src="">
                    </div>
                    <div class="col s12 m12">
                        <div class="input-field  ">
                            <input id="imgpri2" type="text"
                            />
                            <label id="imgpri2l" for="imgpri2">Nome</label>
                        </div>

                    </div>


                </div>

                <div class="row card-panel">

                    <p><label>Imagem secundaria 3</label></p>

                    <div style="background-color: #eeeeee" class="col s12 m12">
                        <img id="f4" src="">
                    </div>
                    <div class="col s12 m12">
                        <div class="input-field  ">
                            <input id="imgpri3" type="text"
                            />
                            <label id="imgpri3l" for="imgpri3">Nome</label>
                        </div>

                    </div>


                </div>
            </div>


        </div>


        <div class="row ">

            <div class="col s12 m10 offset-m9">
                <input name="cadastro" type="submit" id="cadasprodut" class="btn indigo waves-effect"
                       value="Cadastrar"/>
                <input type="reset" id="recusarproduto" title="Recusar " class="btn red waves-effect   "
                       value="Recusar"/>
            </div>
        </div>
    </form>
</div>


<script src="./js/windowadminjs/produtos.js"></script>